name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.*

jobs:
  create-release:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: taiki-e/create-gh-release-action@v1.9.2
        with:
          changelog: CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    needs: [create-release]
    environment: release
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: windows-latest
            target: aarch64-pc-windows-msvc
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: taiki-e/upload-rust-binary-action@v1.27.0
        with:
          bin: cargo-deltabuild
          token: ${{ secrets.GITHUB_TOKEN }}
          target: ${{ matrix.target }}

  publish-crate:
    runs-on: ubuntu-latest
    needs: [upload-assets]
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: rust-lang/crates-io-auth-action@v1.0.3
        id: auth
      - run: cargo publish --locked
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
